/* basic */
.bg-main-color {
    background-color: var(--main-color);
}
/* hero */
.hero.container {
    padding-bottom: 20px;
}
.hero > .short {
    text-align: center;
}
.hero img {
    height: 30px;
    margin-bottom: var(--big-gap);
}
.hero h1 {
    display: inline-block;
    width: 100%;
    color: black;
    font-size: 60px;
    line-height: 60px;
    text-transform: uppercase;
    margin-bottom: var(--gap);
}
.hero p {
    display: inline-block;
    width: 100%;
    color: #444444;
    font-size: 20px;
    line-height: 25px;
    margin-bottom: var(--big-gap)
}
.hero .clock {
    margin-bottom: var(--big-gap);
}
.hero .sub-form {
    margin-bottom: var(--gap);
}
.hero .mouse {
    margin-bottom: var(--gap);
}
/* main */

/* footer */
footer.container {
    padding-top: 0;
}